<% if @post.has_session? %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" %>
  <%= javascript_include_tag "Timer/jquery.plugin" %>
  <%= javascript_include_tag "Timer/jquery.countdown" %>
  <%= javascript_tag do %>
    var my_var = '<%= @post.period %>';
  <% end %>
  <%= javascript_include_tag "basic2" %>
<% end %>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>jQuery Countdown</title>
<style type="text/css">
#defaultCountdown { width: 180px; height: 90px; }
</style>
<body>
<div id="defaultCountdown2"></div>
</body>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Period:</strong>
  <%= @post.period %> minutes
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Author Info:</strong>
  <%= User.find(@post.user_id).info %>
</p>

<% if (logged_in?) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
